[Unit]
Description=Start all the services in /root
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/bin/start_script.sh
ExecReload=/usr/bin/start_script.sh

[Install]
WantedBy=multi-user.target